<footer class="site-footer">
    <section id="footer-text" class="footer-text-section">
        <div class="footer-text">
            <h1 class="footer-text-h1">Contact Me</h1>
        </div>
    </section>
    <section id="footer" class="footer-section">
        <div class="footer-grid">
            <div id="phone-num" data-component="footer-button"
                data-params='{"text": "+48 791304340", "icon": "images/icons/footer/phone-alt.svg", "action": "phone"}'>
            </div>
            <div id="location" data-component="footer-button"
                data-params='{"text": "Poland, Wroclaw", "icon": "images/icons/footer/location.svg", "action": "location"}'>
            </div>
            <div id="mail" data-component="footer-button"
                data-params='{"text": "olin.mykyta@gmail.com", "icon": "images/icons/footer/mail.svg", "action": "mail"}'>
            </div>
        </div>
    </section>
    <section id="footer-thanks" class="footer-thanks-section">
        <div class="footer-thanks">
            <h2 class="footer-thanks-h2">Thanks for Scrolling</h2>
        </div>
    </section>
</footer>