
<header class="site-header">
    <div class="header-content">
        <nav class="site-nav" >
            <a href="/about" class="nav-link" style="color:rgb(120, 100, 100);" >About</a>
            <a href="/projects" class="nav-link" style="color: rgb(120, 100, 100);">Projects</a>
            <a href="/contact" class="nav-link" style="color: rgb(120, 100, 100);">Contact</a>   
        </nav>
        <aside>
            
        </aside>
    </div>
    <div class="header-introduction">
        <div class="header-left-section">
            <div class="header-words">
                <h1 class="header-words-h1">I'M <span class="name-highlight">Mykyta Olin</span></h1>
                <h2 class="header-words-h2">Intelligent electronics student</h2>
            </div>
            <div class="header-contact-button">
                <button type="button">Contact me</button>
            </div>
        </div>
        <div class="header-image">
            <picture>
                <img src="images/i_am.jpg" alt="myPhoto" class="main-image">
            </picture>
            <div class="social-media-sidebar">
                <a href="https://github.com/mykytaolin" class="social-button" target="_blank">
                    <img src="images/icons/social_media/github-icon.svg" alt="GitHub" class="social-icon">
                </a>
                <a href="https://leetcode.com/u/MykytaOlin/" class="social-button" target="_blank">
                    <img src="images/icons/social_media/leetcode-original.svg" alt="LeetCode" class="social-icon">
                </a>
                <a href="https://www.instagram.com/nick__olin/" class="social-button" target="_blank">
                    <img src="images/icons/social_media/instagram-icon.svg" alt="Instagram" class="social-icon">
                </a>
                <a href="https://linkedin.com/in/mykyta-olin-23942a281" class="social-button" target="_blank">
                    <img src="images/icons/social_media/linkedin-icon.svg" alt="LinkedIn" class="social-icon">
                </a>
            </div>
        </div>
    </div>
        
    <script>
        console.log();
    </script>
    

</header>
