.site-header{
    padding: 4px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.site-nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 0.8rem;
}
.nav-link{
    color: rgb(120, 100, 100);
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}
.nav-link:hover{
    color: rgb(197, 192, 192);
    transform: translateY(-5px);
}
.header-introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
}
.header-left-section{
    margin-left: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.header-image{
    display: flex;
    justify-content: right;
    margin-top: 2rem;
    margin-left: 6rem;
    height: clamp(100, 20vw, 150);
    width: clamp(100, 20vw, 150);
}
.header-contact-button button{
    border: 5px solid rgb(255, 212, 72);
    border-radius: 25px;
    display: inline-block;
    background: transparent;
    color: rgb(255, 212, 72);
    padding: 18px 45px;
    font-size: 2rem;
}
.header-words-h1{
    color: aliceblue;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    text-transform: uppercase;
    font-size: 2.5rem;
    word-spacing: 20px;
}
.name-highlight{
    font-size: 4rem;
    color: rgb(255, 212, 72);
    font-weight: 700;
    word-spacing: 20px;
}
.header-words-h2{
    color: aliceblue;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 2.5rem;
}
.skills{
    text-align: center;
}
.skills-text{
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 3.5rem;
}
.skills-grid{
    column-gap: 5px;
    row-gap: 5px;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    padding: 10px;
}

.skills-grid > *:nth-child(1){grid-column: 1 / span 2; grid-row: 1;}
.skills-grid > *:nth-child(2){grid-column: 3 / span 2; grid-row: 1;}
.skills-grid > *:nth-child(3){grid-column: 5 / span 2; grid-row: 1;}
.skills-grid > *:nth-child(4){grid-column: 7 / span 2; grid-row: 1;}
.skills-grid > *:nth-child(5){grid-column: 2 / span 2; grid-row: 2;}
.skills-grid > *:nth-child(6){grid-column: 4 / span 2; grid-row: 2;}
.skills-grid > *:nth-child(7){grid-column: 6 / span 2; grid-row: 2;}
.skills-grid > *:nth-child(8){grid-column: 3 / span 2; grid-row: 3;}
.skills-grid > *:nth-child(9){grid-column: 5 / span 2; grid-row: 3;}

.skills-grid > *{
    justify-content: center;
    display: flex;
}
.icon-button{
    flex-direction: column;
    justify-content: center;
    width: 256px;
    height: 256px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #3c3e42;
    border: transparent;
    border-radius: 25px;
}
.icon-button-text{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    font-style: bold;
    color: white;
}
.icon-button:hover{
    background: rgb(236, 206, 106);
    color: white;
    transform: translateY(-2px);
}
.icon-button:active{
    background: rgb(236, 206, 106);
    color: white;
}
.icon-button-image{
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: all 0.3s ease;
}
.portfolio{
    text-align: center;
}
.portfolio-h1{
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 3.5rem;
}
.portfolio-grid{
    column-gap: 5px;
    row-gap: 5px;
    max-width: 1200px;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0 auto;
    padding: 10px;
}

.portfolio-grid > *:nth-child(1){grid-column: 1; grid-row: 1;}
.portfolio-grid > *:nth-child(2){grid-column: 2; grid-row: 1;}
.portfolio-grid > *:nth-child(3){grid-column: 3; grid-row: 1;}
.portfolio-grid > *:nth-child(4){grid-column: 1; grid-row: 2;}
.portfolio-grid > *:nth-child(5){grid-column: 2; grid-row: 2;}
.portfolio-grid > *:nth-child(6){grid-column: 3; grid-row: 2;}


.portfolio-grid > *{
    justify-content: center;
    display: flex;
}
.image-button{
    flex-direction: column;
    justify-content: center;
    width: 256px;
    height: 256px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: #3c3e42;
    border: transparent;
    border-radius: 25px;
}
.image-button-text{
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    font-style: bold;
    color: transparent;
}
.image-button:hover{
    background: rgb(236, 206, 106);
    color: white;
    transform: translateY(-2px);
}
.image-button:active{
    background: rgb(236, 206, 106);
    color: white;
}
.image-button-image{
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: all 0.3s ease;
}
