@import 'components.css';

html, body {
    overflow-x: hidden;
    background-color: #30333b;
    margin: 0;
    padding: 0;
    height: auto;
}
.site-header {
    margin: auto;
    background-color: #30333b;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
}
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
}
.skills-section{
    padding: 80px 20px;
}